html body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-top: 50px !important;
    padding-bottom: 20px !important;
}


.m-t-0 {
    margin-top: 0px;
}

.m-t-10 {
    margin-top: 10px;
}

.m-t-20 {
    margin-top: 20px;
}

.m-t-30 {
    margin-top: 30px;
}

.m-b-10 {
    margin-bottom: 10px;
}

.p-t-0 {
    padding-top: 0px;
}

.p-t-10 {
    padding-top: 10px;
}

.p-t-20 {
    padding-top: 20px;
}

.p-t-30 {
    padding-top: 30px;
}

#myCarousel {
    height: 500px;
    width: auto;
    overflow: hidden;
}