html body{
    background-color: #0c0c0c;
    color: #f6f6f6;
}
a:hover {
    color: #ffa838;
    text-decoration: none;
}

.table{
    background-color: #2b2b2b;
}

table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd {
    background-color: #b7b7b7;
    color:black;
    vertical-align: middle;
}

table.dataTable.stripe tbody tr.even, table.dataTable.display tbody tr.even {
    background-color: #d5d5d5;
    color: #111111;
    vertical-align: middle;
}

.navbar{
//background-color: #89bf04;;
    //background-color: #ffa838;
//background-color: #d1c4e2;
    border: none;

/*    background: #7d7e7d; !* Old browsers *!
    background: -moz-linear-gradient(top,  #7d7e7d 0%, #ffa838 8%, #0e0e0e 100%); !* FF3.6+ *!
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7e7d), color-stop(8%,#ffa838), color-stop(100%,#0e0e0e)); !* Chrome,Safari4+ *!
    background: -webkit-linear-gradient(top,  #7d7e7d 0%,#ffa838 8%,#0e0e0e 100%); !* Chrome10+,Safari5.1+ *!
    background: -o-linear-gradient(top,  #7d7e7d 0%,#ffa838 8%,#0e0e0e 100%); !* Opera 11.10+ *!
    background: -ms-linear-gradient(top,  #7d7e7d 0%,#ffa838 8%,#0e0e0e 100%); !* IE10+ *!
    background: linear-gradient(to bottom,  #7d7e7d 0%,#ffa838 8%,#0e0e0e 100%); !* W3C *!
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 );*/
    background: #fc4a1a;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #111, #fc4a1a);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #111, #fc4a1a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover {
    color: #837b94;
    background-color: #fff;
}

.button, button {
    background-color: #07b76f;
    border-style: solid;
    border-width: 0;
    line-height: normal;
    margin: 0 0 1.25rem;
    position: relative;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    border-color: #07b76f;
    color: #fff;
    -webkit-transition: background-color .3s ease-out;
    -moz-transition: background-color .3s ease-out;
    transition: background-color .3s ease-out;
    padding: 1rem 2rem 1.0625rem 2rem;
    font-size: 1.25rem;
}

.button:hover, button:hover {
    color: #fff;
    text-decoration: none;
}

a.delete {
    color: #d70000;
}

a#delete_organization {
    margin-top: 7px;
    color: #d70000;
}

div.jumbotron.mail-bg-primary {
    background-color: #935d11;
    color: #fff;
}

div.enhance{
    background: #63b175;
    color: #fff;
}

div.filesystem{
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
}
div.filesystem.navigation{

}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.btn-primary{
    background: #fc4a1a;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #f7b733, #fc4a1a);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #f7b733, #fc4a1a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    border: 1px solid #fc4a1a;
}

.btn-primary:hover{
    background-color:#ffa838;
}

a{
    color: #fc4a1a;
    cursor: pointer;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover{
    background-color: #2b2b2b;
    color: #fb8d00;
    border: none;
}

legend{
    color: #fb8d00;
}

.footer{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #5f5f5f;
    color: #fff;
    bottom: 0;
    width: 100%;
}

.panel-primary{
    //border-color: #fc4a1a;
    border:none;

}
.panel-primary .panel-body{
    background-color: #2b2b2b;
    color: #fb8d00;
    padding: 20px;
}
.panel-primary .panel-heading{
    color: #fff;
    background-color: #1f1f1f;
    border-color: #fb8d00;
}

nav a {
    color: #111;
}