html body{

    background-color: #5f5f5f;
    color: #14001a;
}

#container{
    background-color: #f4f0f5;
}
a:hover {
    color: #63476b;
    text-decoration: none;
}

.navbar{
//background-color: #89bf04;;
    //background-color: #B6A9C7;
    background-color: #8f6699;
//background-color: #d1c4e2;
    border: none;
    height: 70px;

    //border: none;

/*    background: #7d7e7d; !* Old browsers *!
    //background: -moz-linear-gradient(top,  #7d7e7d 0%, #8f6699 50%, #f4f0f5 100%); !* FF3.6+ *!
    //background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7e7d), color-stop(8%,#ffa838), color-stop(100%,#0e0e0e)); !* Chrome,Safari4+ *!
    background: -webkit-linear-gradient(bottom,   #8f6699 60%, #f4f0f5 100%); !* Chrome10+,Safari5.1+ *!
    //background: -o-linear-gradient(top,  #7d7e7d 0%, #8f6699 50%, #f4f0f5 100%); !* Opera 11.10+ *!
    //background: -ms-linear-gradient(top,  #7d7e7d 0%, #8f6699 50%, #f4f0f5 100%); !* IE10+ *!
    //background: linear-gradient(to bottom,  #7d7e7d 0%, #8f6699 50%, #f4f0f5 100%); !* W3C *!
    //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 );*/

    background: #42275a;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #734b6d, #42275a);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #734b6d, #42275a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover , .btn-primary:hover {
    color: #837b94;
    background-color: #fff;
}

.button, button {
    background-color: #8f6699;
    border-style: solid;
    border-width: 0;
    line-height: normal;
    margin: 0 0 1.25rem;
    position: relative;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    border-color: #8f6699;
    color: #fff;
    -webkit-transition: background-color .3s ease-out;
    -moz-transition: background-color .3s ease-out;
    transition: background-color .3s ease-out;
    padding: 1rem 2rem 1.0625rem 2rem;
    font-size: 1.25rem;
}

.button:hover, button:hover {
    color: #fff;
    text-decoration: none;
}

a.delete {
    color: #d70000;
}

a#delete_organization {
    margin-top: 7px;
    color: #d70000;
}

div.jumbotron.mail-bg-primary {
    background-color: #935d11;
    color: #fff;
}

div.enhance{
    background: #8f6699;
    color: #fff;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover{
    background-color: #8f6699;
    color: #fff;
    border: none;
}

legend{
    color: #8f6699;
}

div.filesystem{
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
}
div.filesystem.navigation{

}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

a{
    color: #42275a;  /*!* fallback for old browsers *!*/
    //color: -webkit-linear-gradient(to top, #734b6d, #42275a);  /* Chrome 10-25, Safari 5.1-6 */
    //color: linear-gradient(to top, #734b6d, #42275a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    //color: #8932c1;
    cursor: pointer;
}

nav a:hover{
    color: #fff;
}

nav a{
    color: #939393;
}

.btn-primary{
    color: #fff;
    //background-color: #8932c1;
    background: #42275a;  /*!* fallback for old browsers *!*/
    background: -webkit-linear-gradient(to top, #734b6d, #42275a);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #734b6d, #42275a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    border: solid 1px #8f6699;
}

.btn-primary:hover{
    background-color: #63476b;
    color: #fff;
}

.table{
    background-color: #2b2b2b;
    color: #fff;
}

table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd {
    background-color: #b7b7b7;
    color:black;
    vertical-align: middle;
}

table.dataTable.stripe tbody tr.even, table.dataTable.display tbody tr.even {
    background-color: #d5d5d5;
    color: #111111;
    vertical-align: middle;
}


.footer{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #5f5f5f;
    color: #fff;
    bottom: 0;
    width: 100%;
}

.carousel-caption h3{
    color: #63476b;
}


.panel-primary{
    border-color: #8f6699;
}

.panel-primary .panel-heading{
    color: #fff;
    background-color: #8f6699;
}