<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout"
      th:with="title='Add menu item'">
<th:block layout:fragment="content">
    <div class="container p-t-30">

        <form th:action="@{/administration/diet/add}" method="post" th:object="${menuItem}" class="col-md-8">
            <div th:if="${menuItem.id > 0}">
                <input type="hidden" th:field="*{id}" />
            </div>
            <div class="form-group">
                <label for="name" th:text="#{menuItem.form.name}" class="control-label h4"></label>
                <input type="text" id="name" th:field="*{name}" class="form-control"/>
            </div>
            <div class="form-group">
                <label for="content" th:text="#{menuItem.form.content}" class="control-label h4"></label>
                <textarea id="content" th:field="*{content}" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <label for="description" th:text="#{menuItem.form.description}" class="control-label h4"></label>
                <input id="description" th:field="*{description}" class="form-control"/>
            </div>
            <div class="form-group">
                <label for="calories" th:text="#{menuItem.form.calories}" class="control-label h4"></label>
                <input type="text" id="calories" th:field="*{calories}" class="form-control"/>
            </div>
            <div class="form-group">
                <label for="proteins" th:text="#{menuItem.form.proteins}" class="control-label h4"></label>
                <input type="text" id="proteins" th:field="*{proteins}" class="form-control"/>
            </div>
            <div class="form-group">
                <label for="carbs" th:text="#{menuItem.form.carbs}" class="control-label h4"></label>
                <input type="text" id="carbs" th:field="*{carbs}" class="form-control"/>
            </div>
            <div class="form-group">
                <label for="fat" th:text="#{menuItem.form.fat}" class="control-label h4"></label>
                <input type="text" id="fat" th:field="*{fat}" class="form-control"/>
            </div>


            <div class="form-group">
                <button type="submit" class="btn btn-default btn-lg" th:text="#{menuItem.button.add}"></button>
            </div>
        </form>

    </div>
    <script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>
    <script>tinymce.init({ selector:'textarea' });</script>
</th:block>
</html>