<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout"
      th:with="title='Add patient'">
<th:block layout:fragment="content">
    <div class="container p-t-30">

        <form th:action="@{/patients/add}" method="post" th:object="${patient}" class="col-md-8">
            <div th:if="${patient.id > 0}">
                <input type="hidden" th:field="*{id}" />
            </div>
            <div class="form-group">
                <label for="fullname" th:text="#{patients.form.fullname}" class="control-label h4"></label>
                <input type="text" id="fullname" th:field="*{fullname}" class="form-control" />
            </div>
            <div class="form-group">
                <label for="email" th:text="#{patients.form.email}" class="control-label h4"></label>
                <input type="email" id="email" th:field="*{email}" class="form-control"/>
            </div>
            <div class="form-group">
                <label for="phoneNumber" th:text="#{patients.form.phoneNumber}" class="control-label h4"></label>
                <input type="text" id="phoneNumber" th:field="*{phoneNumber}" class="form-control"/>
            </div>
            <div class="form-group">
                <label for="adress" th:text="#{patients.form.adress}" class="control-label h4"></label>
                <input type="text" id="adress" th:field="*{adress}" class="form-control"/>
            </div>
            <div class="form-group">
                <label for="gender" th:text="#{patients.form.gender}" class="control-label h4"></label>
                <input type="text" id="gender" th:field="*{gender}" class="form-control"/>
            </div>
            <div class="form-group">
                <label for="birthday" th:text="#{patients.form.birthday}" class="control-label h4"></label>
                <input type="date" id="birthday" th:field="*{birthday}" class="form-control"/>
            </div>
            <div class="form-group">
                <label for="profession" th:text="#{patients.form.profession}" class="control-label h4"></label>
                <input type="text" id="profession" th:field="*{profession}" class="form-control"/>
            </div>
            <div class="form-group">
                <label for="identification" th:text="#{patients.form.identification}" class="control-label h4"></label>
                <input type="text" id="identification" th:field="*{identification}" class="form-control"/>
            </div>
            <div class="form-group">
                <label for="allergies" th:text="#{patients.form.allergies}" class="control-label h4"></label>
                <input type="text" id="allergies" th:field="*{allergies}" class="form-control"/>
            </div>
            <div class="form-group">
                <label for="maxWeight" th:text="#{patients.form.maxWeight}" class="control-label h4"></label>
                <input type="text" id="maxWeight" th:field="*{maxWeight}" class="form-control"/>
            </div>
            <div class="form-group">
                <label for="minWeight" th:text="#{patients.form.minWeight}" class="control-label h4"></label>
                <input type="text" id="minWeight" th:field="*{minWeight}" class="form-control"/>
            </div>
            <div class="form-group">
                <label for="goodWeight" th:text="#{patients.form.goodWeight}" class="control-label h4"></label>
                <input type="text" id="goodWeight" th:field="*{goodWeight}" class="form-control"/>
            </div>
            <div class="form-group">
                <label for="maxIMC" th:text="#{patients.form.maxIMC}" class="control-label h4"></label>
                <input type="text" id="maxIMC" th:field="*{maxIMC}" class="form-control"/>
            </div>
            <div class="form-group">
                <label for="minIMC" th:text="#{patients.form.minIMC}" class="control-label h4"></label>
                <input type="text" id="minIMC" th:field="*{minIMC}" class="form-control"/>
            </div>
            <div class="form-group">
                <label for="goodIMC" th:text="#{patients.form.goodIMC}" class="control-label h4"></label>
                <input type="text" id="goodIMC" th:field="*{goodIMC}" class="form-control"/>
            </div>
            <div class="form-group">
                <label for="personalHistory" th:text="#{patients.form.personalHistory}" class="control-label h4"></label>
                <input type="text" id="personalHistory" th:field="*{personalHistory}" class="form-control"/>
            </div>
            <div class="form-group">
                <label for="familyHistory" th:text="#{patients.form.familyHistory}" class="control-label h4"></label>
                <input type="text" id="familyHistory" th:field="*{familyHistory}" class="form-control"/>
            </div>
            <div class="form-group">
                <label for="taste" th:text="#{patients.form.taste}" class="control-label h4"></label>
                <input type="text" id="taste" th:field="*{taste}" class="form-control"/>
            </div>
            <div class="form-group">
                <label for="water" th:text="#{patients.form.water}" class="control-label h4"></label>
                <input type="text" id="water" th:field="*{water}" class="form-control"/>
            </div>
            <div class="form-group">
                <label for="treatment" th:text="#{patients.form.treatment}" class="control-label h4"></label>
                <input type="text" id="treatment" th:field="*{treatment}" class="form-control"/>
            </div>
            <div class="form-group">
                <label for="observations" th:text="#{patients.form.observations}" class="control-label h4"></label>
                <input type="text" id="observations" th:field="*{observations}" class="form-control"/>
            </div>
            <div class="form-group">
                <label for="physicalActivity" th:text="#{patients.form.physicalActivity}" class="control-label h4"></label>
                <input type="text" id="physicalActivity" th:field="*{physicalActivity}" class="form-control"/>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-default btn-lg" th:text="#{patients.button.add}"></button>
            </div>
        </form>

    </div>
</th:block>
</html>