<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sd="http://www.thymeleaf.org/spring-data"
      layout:decorator="layout"
      th:with="title='patient details'">
<th:block layout:fragment="content">
    <div class="container p-t-30">

        <div class="row">
            <div class="form-group col-md-4">
                <label class="control-label h4" th:text="#{patients.form.fullname}"></label>
                <h5 th:text="${patient.fullname}"></h5>
            </div>
            <div class="form-group col-md-4">
                <label class="control-label h4" th:text="#{patients.form.email}"></label>
                <h5 th:text="${patient.email}"></h5>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <label class="control-label h4" th:text="#{patients.form.phoneNumber}"></label>
                <h5 th:text="${patient.phoneNumber}"></h5>
            </div>
            <div class="form-group col-md-4">
                <label class="control-label h4" th:text="#{patients.form.adress}"></label>
                <h5 th:text="${patient.adress}"></h5>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <label class="control-label h4" th:text="#{patients.form.gender}"></label>
                <h5 th:text="${patient.gender}"></h5>
            </div>
            <div class="form-group col-md-4">
                <label class="control-label h4" th:text="#{patients.form.birthday}"></label>
                <h5 th:text="${patient.birthday}"></h5>
            </div>
            <div class="form-group col-md-4">
                <label class="control-label h4" th:text="#{patients.form.age}"></label>
                <h5 th:text="${patient.age}"></h5>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <label class="control-label h4" th:text="#{patients.form.profession}"></label>
                <h5 th:text="${patient.profession}"></h5>
            </div>
            <div class="form-group col-md-4">
                <label class="control-label h4" th:text="#{patients.form.identification}"></label>
                <h5 th:text="${patient.identification}"></h5>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <label class="control-label h4" th:text="#{patients.form.allergies}"></label>
                <h5 th:text="${patient.allergies}"></h5>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <label class="control-label h4" th:text="#{patients.form.minWeight}"></label>
                <h5 th:text="${patient.minWeight}"></h5>
            </div>
            <div class="form-group col-md-4">
                <label class="control-label h4" th:text="#{patients.form.goodWeight}"></label>
                <h5 th:text="${patient.goodWeight}"></h5>
            </div>
            <div class="form-group col-md-4">
                <label class="control-label h4" th:text="#{patients.form.maxWeight}"></label>
                <h5 th:text="${patient.maxWeight}"></h5>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <label class="control-label h4" th:text="#{patients.form.minIMC}"></label>
                <h5 th:text="${patient.minIMC}"></h5>
            </div>
            <div class="form-group col-md-4">
                <label class="control-label h4" th:text="#{patients.form.goodIMC}"></label>
                <h5 th:text="${patient.goodIMC}"></h5>
            </div>
            <div class="form-group col-md-4">
                <label class="control-label h4" th:text="#{patients.form.maxIMC}"></label>
                <h5 th:text="${patient.maxIMC}"></h5>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <label class="control-label h4" th:text="#{patients.form.personalHistory}"></label>
                <h5 th:text="${patient.personalHistory}"></h5>
            </div>
            <div class="form-group col-md-4">
                <label class="control-label h4" th:text="#{patients.form.familyHistory}"></label>
                <h5 th:text="${patient.familyHistory}"></h5>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <label class="control-label h4" th:text="#{patients.form.taste}"></label>
                <h5 th:text="${patient.taste}"></h5>
            </div>
            <div class="form-group col-md-4">
                <label class="control-label h4" th:text="#{patients.form.water}"></label>
                <h5 th:text="${patient.water}"></h5>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <label class="control-label h4" th:text="#{patients.form.treatment}"></label>
                <h5 th:text="${patient.treatment}"></h5>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <label class="control-label h4" th:text="#{patients.form.observations}"></label>
                <h5 th:text="${patient.observations}"></h5>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <label class="control-label h4" th:text="#{patients.form.physicalActivity}"></label>
                <h5 th:text="${patient.physicalActivity}"></h5>
            </div>
        </div>
        <div class="row text-right">
            <a th:href="@{/visits/add/{id}(id=${patient.id})}" class="btn btn-lg btn-primary">Add visit</a>
        </div>

        <div class="row  p-t-30">
            <div class="col-md-12">
                <table class="datatable_no_addon stripe" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th th:text="#{visits.form.reason}"></th>
                        <th th:text="#{visits.form.description}"></th>
                        <th th:text="#{visits.form.visitTime}"></th>
                        <th th:text="#{visits.form.type}"></th>
                        <th data-orderable="true"></th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th th:text="#{visits.form.reason}"></th>
                        <th th:text="#{visits.form.description}"></th>
                        <th th:text="#{visits.form.visitTime}"></th>
                        <th th:text="#{visits.form.type}"></th>
                        <th></th>
                    </tr>
                    </tfoot>
                    <tbody>
                    <tr th:each="visit : ${patient.visits}">
                        <td th:text="${visit.reason}"></td>
                        <td th:text="${visit.description}"></td>
                        <td th:text="${#dates.format(visit.visittime, 'dd MMM yyyy')}"></td>
                        <td th:if="${visit instanceof T(com.aelbardai.patient.domain.GeneralVisit)}" th:text="#{visits.form.type.general}"></td>
                        <td th:if="${visit instanceof T(com.aelbardai.patient.domain.EstheticVisit)}" th:text="#{visits.form.type.esthetic}"></td>
                        <td th:if="${visit instanceof T(com.aelbardai.patient.domain.NutritionVisit)}" th:text="#{visits.form.type.nutrition}"></td>

                        <td class="actions">
                            <a th:href="@{/visits/view/{id}(id=${visit.id})}">
                                <span class="fa-stack fa-lg">
                                  <i class="fa fa-square fa-stack-2x"></i>
                                  <i class="fa fa-eye fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                            <a th:href="@{/visits/add/{patientId}?id={id}(patientId=${patient.id}, id=${visit.id})}">
                                <span class="fa-stack fa-lg">
                                  <i class="fa fa-square fa-stack-2x"></i>
                                  <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="row p-t-30">
                    <div class="col-sm-6">
                        <div sd:pagination-summary=""></div>
                    </div>
                    <div class="col-sm-6">
                        <div sd:page-object="${spices}">
                            <ul class="pagination pull-right m-t-0" sd:pagination="full"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</th:block>
</html>