<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sd="http://www.thymeleaf.org/spring-data"
      layout:decorator="layout"
      th:with="title='List all patients'">
<th:block layout:fragment="content">
    <div class="container p-t-30">
        <div class="row text-right">
            <a th:href="@{/patients/add}" th:text="#{patients.link.add}" class="btn btn-primary" ></a>
        </div>
        <div class="row  p-t-30">
            <div class="col-md-12">
                <table class="datatable_no_addon stripe" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th th:text="#{patients.form.fullname}"></th>
                        <th th:text="#{patients.form.email}"></th>
                        <th th:text="#{patients.form.age}"></th>
                        <th th:text="#{patients.form.goodWeight}"></th>
                        <th th:text="#{patients.form.goodIMC}"></th>
                        <th data-orderable="true"></th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th th:text="#{patients.form.fullname}"></th>
                        <th th:text="#{patients.form.email}"></th>
                        <th th:text="#{patients.form.age}"></th>
                        <th th:text="#{patients.form.goodWeight}"></th>
                        <th th:text="#{patients.form.goodIMC}"></th>
                        <th></th>
                    </tr>
                    </tfoot>
                    <tbody>
                    <tr th:each="patient : ${patients}">
                        <td th:text="${patient.fullname}"></td>
                        <td th:text="${patient.email}"></td>
                        <td th:text="${#dates.format(patient.birthday, 'dd MMM yyyy')}"></td>
                        <td th:text="${patient.goodWeight}"></td>
                        <td th:text="${patient.goodIMC}"></td>

                        <td class="actions">
                            <a th:href="@{/patients/view/{id}(id=${patient.id})}">
                                    <span class="fa-stack fa-lg">
                                      <i class="fa fa-square fa-stack-2x"></i>
                                      <i class="fa fa-eye fa-stack-1x fa-inverse"></i>
                                    </span>
                            </a>
                            <a th:href="@{/patients/add?id={id}(id=${patient.id})}">
                                <span class="fa-stack fa-lg">
                                  <i class="fa fa-square fa-stack-2x"></i>
                                  <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="row p-t-30">
                    <div class="col-sm-6">
                        <div sd:pagination-summary=""></div>
                    </div>
                    <div class="col-sm-6">
                        <div sd:page-object="${spices}">
                            <ul class="pagination pull-right m-t-0" sd:pagination="full"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</th:block>
</html>