<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout"
      th:with="title='Spices'">
<th:block layout:fragment="content">
    <div class="container p-t-30">
        <th:block th:if="false">
        <ul class="list-group">
            <li class="list-group-item active">Articles</li>
            <li class="list-group-item list-group-item-warning">html editor for article content</li>
            <li class="list-group-item list-group-item-warning">delete article</li>
            <li class="list-group-item list-group-item-danger">Link article to user</li>
            <li class="list-group-item list-group-item-danger">Create table that tracks articles history</li>
        </ul>

        <ul class="list-group">
            <li class="list-group-item active">Patient</li>
            <li class="list-group-item list-group-item-success">add/edit patient</li>
            <li class="list-group-item list-group-item-success">List patients</li>
            <li class="list-group-item list-group-item-success">function for adding/editing general visits to a patient</li>
            <li class="list-group-item list-group-item-success">form that submits different types of visits<span class="badge">8</span></li>
            <li class="list-group-item list-group-item-success">view patient details and history<span class="badge">2</span></li>
            <li class="list-group-item list-group-item-warning">Search in patients<span class="badge">2</span></li>
            <li class="list-group-item list-group-item-warning">pagination in list patients<span class="badge">2</span></li>
            <li class="list-group-item list-group-item-warning">delete patient<span class="badge">1</span></li>
            <li class="list-group-item list-group-item-danger">Spike esthetic session ?? And how to handle them<span class="badge">1</span></li>
        </ul>

        <ul class="list-group">
            <li class="list-group-item active">Menu</li>
            <li class="list-group-item list-group-item-warning">Create a menu for item <span class="badge">5</span></li>
            <li class="list-group-item list-group-item-warning">Calculate calorimetry needs for a patient or enter manuaaly values : Submit a form || Javascript<span class="badge">3</span></li>
        </ul>

        <ul class="list-group">
            <li class="list-group-item active">General</li>
            <li class="list-group-item list-group-item-warning">Create an index/home page<span class="badge">1</span></li>
            <li class="list-group-item list-group-item-warning">Create an about page<span class="badge">1</span></li>
            <li class="list-group-item list-group-item-warning">Create a Contact us page<span class="badge">1</span></li>
            <li class="list-group-item list-group-item-warning">Create a Sitemap page <span class="badge">1</span></li>
            <li class="list-group-item list-group-item-warning">Add right to left css support <span class="badge">3</span></li>
            <li class="list-group-item list-group-item-warning">Check encoding insertions in the db to different languages<span class="badge">5</span></li>
        </ul>

        <ul class="list-group">
            <li class="list-group-item active">Users</li>
            <li class="list-group-item list-group-item-warning">Create a profile page where you can edit your profile info<span class="badge">2</span></li>
            <li class="list-group-item list-group-item-warning">list users for admin only <span class="badge">2</span></li>
            <li class="list-group-item list-group-item-warning">Assign permissions to users<span class="badge">5</span></li>
        </ul>
        </th:block>

    </div>
</th:block>
</html>