<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<th:block layout:insert="general/header"/>
<body>
<!--<div class=""row>
    <img th:src="@{/assets/images/nutrition_banner.jpg}" class="img-responsive" width="100%" />
</div>-->
<nav class="navbar-inverse navbar-fixed-top navbar">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" th:href="@{/}" th:text="#{menubar.title}"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li th:classappend="${#httpServletRequest.getRequestURI().startsWith('/articles') ? 'active':''}"><a th:href="@{/articles}" th:text="#{menubar.articles}"></a></li>
                <li th:classappend="${#httpServletRequest.getRequestURI().startsWith('/diet/maker') ? 'active':''}"><a th:href="@{/diet/maker}" th:text="#{menubar.menu}"></a></li>
                <li th:classappend="${#httpServletRequest.getRequestURI().startsWith('/patients') ? 'active':''}"><a th:href="@{/patients}" th:text="#{menubar.patients}"></a></li>
                <li th:classappend="${#httpServletRequest.getRequestURI().startsWith('/administration') ? 'active':''}"><a th:href="@{/administration}" th:text="#{menubar.administration}"></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
                        <span >admin</span><span class="caret"></span>

                    </a>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{/logout}" th:text="#{menubar.logout}"></a></li>
                        <li><a th:href="@{/profile}" th:text="#{menubar.profile}"></a></li>
                    </ul>
                </li>
                <li ><a th:href="@{/login}" th:text="#{menubar.login}"></a></li>
                <li ><a th:href="@{/signup}" th:text="#{menubar.signup}"></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"><span th:text="#{menubar.language.title}"></span><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{?lang=en}" th:text="#{menubar.language.english}"></a></li>
                        <li><a th:href="@{?lang=fr}" th:text="#{menubar.language.french}"></a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <th:block layout:fragment="content"/>
    </div>
</div>
</body>
<th:block layout:insert="general/footer"/>
</html>