<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout"
      th:with="title='Add article'">
<th:block layout:fragment="content">
    <div class="container-fluid p-t-30">

        <form th:action="@{/administration/articles/edit}" method="post" th:object="${article}" class="col-md-8">
            <div th:if="${article.id > 0}">
                <input type="hidden" th:field="*{id}" />
            </div>
            <div class="form-group">
                <label for="title" th:text="#{article.form.title}" class="control-label h4"></label>
                <input type="text" id="title" th:field="*{title}" class="form-control"/>
            </div>
            <div class="form-group">
                <label for="content" th:text="#{article.form.content}" class="control-label h4"></label>
                <textarea id="content" th:field="*{content}" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <label for="author" th:text="#{article.form.author}" class="control-label h4"></label>
                <input id="author" th:field="*{author}" class="form-control"/>
            </div>
            <div class="form-group">
                <label for="tags" th:text="#{article.form.tags}" class="control-label h4"></label>
                <input type="text" id="tags" th:field="*{tags}" class="form-control"/>
            </div>
            <div class="form-group">
                <label for="type" th:text="#{article.form.type}" class="control-label h4"></label>
                <select th:field="*{type}" id="type" class="form-control">
                    <option th:each="type: ${T(com.aelbardai.article.domain.ArticleType).values()}"
                            th:value="${type}"
                            th:text="${type}"></option>
                </select>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-default btn-lg" th:text="#{article.button.add}"></button>
            </div>
        </form>

    </div>

    <script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>
    <script>tinymce.init({ selector:'textarea' });</script>
</th:block>
</html>